.main {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  padding-top: 3rem;

  h2 {
    margin-top: 1rem;
    border-bottom: 1px dotted #999;
    padding-bottom: 1rem;
  }

  .title {
    display: flex;
    flex-direction: column;
  }

  .car_information {
    display: flex;
    align-self: center;

  }

  .info {
    display: flex;
    flex-direction: column;
    padding-right: 5rem;

    .table {
      margin-top: 1rem;

      th, td {
        border: 1px dotted #999;
        padding: 0.5rem;
        text-align: left;
      }

      th {
        text-align: left;
      }

      .title {
        background-color: #c0c0c0;
        border-color: #efefef;
        text-align: left;
        vertical-align: top;
      }
    }
  }
}
